<head>
    <link rel = 'stylesheet' href = '/stylesheets/project.css'>
</head>
<h1 class = "project-heading">Projects</h1>
<section>


    <div class = "card-body">
        <div class = "card_image"><img src = "\images\artificial-intelligence-image.jpg" class = "img-2"></div>
        <h2 class = "card-title">Artificial Intelligence Project</h2>
        <p class = "card-desc">Trained an A.I model to distinguish between rock, scissor and paper using powerfull nueral network</p>
    </div>


    <div class = "card-body">
        <div  class = "card_image"><img src = "\images\xd-image.png" class = "img-2"></div>
        <h2 class = "card-title">UI/UX design</h2>
        <p class = "card-desc">Made the whole UI for a music website using adobe XD. the main feature for 
            the website is that the user can instantly share the music and artist on their social media handles
        </p>
    </div>


    <div class = "card-body">
        <div  class = "card_image img-3"><img src = "\images\ios14.7-14.jpg" class = "img-2"></div>
        <h2 class = "card-title">Ios Mobile App</h2>
        <p class = "card-desc">Made a ios app where user can register their 
            complain about the purcahse they made with a certain company </p>
    </div>

</section>