<head>
    <link rel = 'stylesheet' href = 'stylesheets/about.css'>

</head>


<div class = "head">
<div class = "txt">
<div class = "item1">
<h1 class = "heading">Hi my name is Kamal Maurya</h1>
</div>
<div class = 'item2'>
<h2>Web Design, full stack engineer, Data scientist, Machine learning,
     Ui/Ux designer and full time college student</h2>
</div>
<div class= "item3">
<p>Studied bachelor of computer science from P.T.U. Currentely pursuing
     Mobile Application development from Conestoga College, Waterloo. I have 6 
     Months of industrial expereince in Data Science and building artificial 
     intelligence models. My main interest is integrating Machine learning 
     into mobile application. I also make ios/ android appliaction, worked in 
     unity game engine 

</p>
</div>
<a class ="view-project" href = "/Project/index"><button>View My project</button></a>
</div>
<div class = 'img-container'>
<img class = "user-image" src = "/images/user_image.jpg">
</div>
</div>