<head>
    <link rel = 'stylesheet' href = 'stylesheets/contact.css'>
    <script src="https://kit.fontawesome.com/f617e2fabe.js" crossorigin="anonymous"></script>
</head>


<div class = "contact-container">

    <h1>Contact Information</h1>
    <p>Feel free to get in touch with me</p>

    <div class = "contact-info">
        <div class = "box-1">
            <h3>Please fill out the form</h3>
            <form>
                <div class = "input-row">
                    <div class = "input-group">
                        <label>Name</label>
                        <input type = "text" placeholder="john abrham">
                    </div>
                    <div class = "input-group">
                        <label>Email</label>
                        <input type = "text" placeholder="abc@gmail.com">
                    </div>
                    </div>
                     <div class = "input-row">
                    <div class = "input-group">
                        <label>Subject</label>
                        <input type = "text" placeholder="Product info">
                    </div>
                    <div class = "input-group">
                        <label>Phone</label>
                        <input type = "text" placeholder="+1 123 421 4325">
                    </div>
                    
                </div>

                <label>Message</label>
                <textarea rows= "5" placeholder="Your message"></textarea>

                <button class = "submit">Submit</button>
            </form>
        </div>
        <div class = 'box-2'>
            <h3>Connect social</h3>

            <table>
                <tr>
                    <td>Email</td>
                    <td>Kmaurya7959@conestogac.on.ca</td>
                   
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>+91 7508573790</td>
                    
                </tr>
                <tr>
                    <td>Address</td>
                    <td>1062 Sec-28b, 160002, Chandigarh India
                    </td>
                    </tr>
                <tr>
                    <td>Social handles</td>
                    <div class = "social-links">
                    <td><a class= "link" href = "https://www.linkedin.com/in/kamalmry"><i class="fab fa-linkedin" ></i></a>
                        <a class = "link" href = "https://www.instagram.com/kamal.maurya1/"><i class="fab fa-instagram"></i></a>
                    
                        <a class = "link" href = "https://www.facebook.com/kamal.maurya1"><i class="fab fa-facebook-f"></i></a>
                    </div>
                    </td>
                </tr>
                
            </table>
        </div>
    </div>
</div>