<head>
    <title> Home</title>
    <link rel = 'stylesheet' href = '/stylesheets/home.css' />

</head>

<div class = "head">
    <div class = "main">
    <h1 class ="heading"> Hello, welcome to Kamal Maurya's website</h1>
   
    <a class = "connect" href = "/contact"><button>Connect with me</button></a>
    </div>
    <div class = "sub-main"><img class="sub-image" src = '/images/home_image.png'>
    </div>
    
    
</div>


