<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel = 'stylesheet' href = '/stylesheets/layout.css' />
    <!-- fontawesome icon script-->
    <script src="https://kit.fontawesome.com/f617e2fabe.js" crossorigin="anonymous"></script>
  
    <nav class = "navbar-main">
        <!-- Links -->
        
        
        <a class="navbar-brand" href="/">Home</a>
        <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Project/index">Projects</a>
        </li>
       
        </ul>
        <a class ="contact" href = "/contact"><button>Contact</button></a>

    </nav>

  </head>
  <body>
    {{{body}}}
  </body>

</html>
